<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    
    <title>twofac</title>

    <style>
      .container { margin-top: 1em; }
      form { margin: 0em; }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <p>
            Welcome, <b><%= user.nickname %></b>.
            <span class="u-pull-right">
              <a href="logout">Log out.</a>
            </span>
          </p>
        </div>

        <div class="twelve columns">
          <% user.sharedSecrets.forEach((secret) => { %>
            Alias: <%= secret.alias %>, string: <%= secret.string %>
            <span class="u-pull-right"><a href="secret/delete/<%= secret.string %>">Delete</a></span></br>
          <% }) %>
        </div>

        <div class="twelve columns card">
          <form action="secret/add" method="POST">
            <div class="row">
              <div class="three columns">
                <label for="aliasInput">Alias</label>
                <input class="u-full-width" id="aliasInput" type="text" placeholder="Main" name="alias">
              </div>
              <div class="nine columns">
                <label for="shasecInput">Shared Secret</label>
                <input class="u-full-width" id="shasecInput" type="text" placeholder="...=" name="sharedSecret">
              </div>
            </div>
            
            <input class="button-primary" type="submit" value="add">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
