<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    
    <title>twofac</title>

    <style>
      .container { margin-top: 1em; }
      form { margin: 0em; }

      .cell {
        padding-bottom: 0.5em;
        padding-top: 0.5em;        
        border-bottom: 1px solid #E1E1E1; }

      .margin-left { margin-left: 2em; }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <p>
            Welcome, <b><%= user.nickname %></b>.
            <span class="u-pull-right">
              <a href="<%= base %>/logout">Log out.</a>
            </span>
          </p>
        </div>

        <div class="twelve columns">
          <% user.sharedSecrets.forEach((secret) => { %>

            <div class="twelve columns cell">
              <div class="one column">
                <b><%= codes[secret.alias] %></b>
              </div>

              <div class="two columns">
                <%= secret.alias %>
              </div>

              <div class="nine columns">
                <a class="u-pull-right" href="<%= base %>/secret/delete/<%= secret.alias %>">
                  Delete
                </a>
              </div>
            </div>
            
          <% }) %>
        </div>

        <div class="twelve columns card">
          <form action="<%= base %>/secret/add" method="POST">
            <div class="row">
              <div class="three columns">
                <label for="aliasInput">Alias</label>
                <input class="u-full-width" id="aliasInput" type="text"
                  placeholder="Main" name="alias">
              </div>
              <div class="nine columns">
                <label for="shasecInput">Shared Secret</label>
                <input class="u-full-width" id="shasecInput" type="text"
                  placeholder="...=" name="sharedSecret">
              </div>
            </div>

            <input class="button-primary" type="submit" value="add">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
